@media screen and (min-width: 61rem) {
  .layout-node-form {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 75% 25%;
  }

  .layout-node-form > .layout-region--node-main {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    max-width: 100%;
  }

  .layout-node-form > .layout-region--node-secondary {
    grid-row: 1;
    grid-column: 2;
  }

  .container > .layout-region--node-footer {
    grid-row: 2;
    grid-column: 1 / span 2;
    width: 100%;
  }
}

/* Webform adds some non-contrasty styling to messages */
.messages.messages--info a {
  color: initial;
}

.messages.messages--info a:hover {
  text-decoration: none;
  color: initial;
}
