/*

  Claro colours__________

  Please see https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Drupal-Design-system?node-id=553%3A0 for full color palette and usage
*/
// Primary
$absolute-zero: #003CC5;
$text: #222330;
$white-smoke: #F3F4F9;

// Secondary
$maximum-red: #D72222; // error
$lightning-green: #26A769; // focus
$text-light: #545560;
$disabled: #727780;
$old-silver: #82828C;
$gray-blue: #8E929C; // border
$light-grey: #D4D4D8;


/*
  Brand colours_________

  Add your frontend theme's color branding here
*/
$white: white;
$admin-dark: #2d2d2d;
$admin-light: #434343;
$admin-green: #88B46D;
$admin-red: #BF6767;
$admin-blue: #60A3C0;
$transparent: rgba(0,0,0,0);


/*
////
//// S T Y L I N G
////
*/
